@import '../fonts/Fonts.css';
@import 'Common.css';
@import 'MFXColors.css';

.mfx-button {
	-fx-font-family: 'Nunito Regular';
	-fx-text-fill: -mfx-text-he;
}

.mfx-button .mfx-ripple-generator {
	-mfx-ripple-radius: 40;
	-mfx-auto-clip: true;
}

.mfx-button .text {
	-fx-font-smoothing-type: gray;
}

#custom {
	-fx-background-color: -mfx-charcoal;
	-fx-text-fill: white
}

#win {
	-fx-background-color: -mfx-red;
	-fx-text-fill: white
}